* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafc;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #bbbbbe;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.holder {
  width: 53%;
  height: 56%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.back-button {
  margin-top: 2%;
  height: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.heading {
  font-size: x-large;
  color: black;

  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-error {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.error {
  color: rgb(196, 26, 26);
  font-size: 12px;
  height: 18%;
  align-items: center;
  width: 100%;
  display: flex;
  font-size: large;
}

.error-message {
  height: 2%;
  text-align: center;
  visibility: hidden;
  font-size: larger;
}

#userForm {
  width: 100%;
  display: flex;
  font-size: large;
  height: 100%;
  justify-content: space-between;
}

.form-holder {
  width: 100%;
  height: 60%;
}

label {
  color: black;
  width: 37%;
  padding-right: 2%;
  font-size: large;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
  width: 63%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: large;
}

.section {
  width: 45%;
}

.form-elements {
  height: 18%;
  display: flex;
  align-items: center;
}

.form-elements label::after {
  content: " *";
  color: red;
  margin-left: 3px;
}

.form-button {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-top: 1%;
}

.button-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.valid {
  border: 2px solid green !important;
}

.invalid {
  border: 2px solid red !important;
}

.form-buttons {
  height: 10%;
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}

.reset-button {
  width: 20%;
  padding: 15px;
  gap: 10%;

  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  width: 20%;
  padding: 15px;

  gap: 10%;
  background-color: #332cb8;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: larger;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-but {
  padding: 10px;
  font-size: larger;
  border-radius: 10px;
  background-color: #757779;
  border: none;
}

p {
  font-size: larger;
  color: rgb(214, 36, 36);
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  padding-right: 7px;
}

.back-button {
  margin-top: 5%;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-but {
  padding: 15px;
  background-color: #332cb8;
  border: none;
  border-radius: 5px;
  color: #fff;
}

i {
  padding-right: 7px;
}

.back-button {
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button i {
  font-size: 15px;
  color: #333;
  transition: color 0.3s, transform 0.3s;
}

.back-button:hover i {
  color: #007bff;
  transform: scale(1.2);
}

.header {
  height: 10%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.back-oper {
  width: 10%;
  height: 100%;
  display: contents;
}

.form-field {
  height: 100%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .holder {
    width: 85%;
    height: 78%;
  }

  #userForm {
    flex-direction: column;
  }

  .section {
    width: 100%;
    height: 49%;
  }

  .header {
    height: 4%;
  }

  .data-error {
    height: 5%;
  }

  .form-holder {
    height: 76%;
  }

  .heading {
    font-size: inherit;
    font-weight: bold;
  }

  label {
    font-weight: bold;
    font-size: medium;
    width: 43%;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  select {
    padding: 8px;
    font-size: medium;
  }

  .error {
    font-size: medium;
  }

  .reset-button {
    width: 45%;
  }

  .submit-button {
    width: 45%;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .holder {
    width: 85%;
    height: 56%;
  }
}